{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10B - Sınıf Arkadaşlarım</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}">
</head>
<body>
    <header class="header">
        <h1>10B SINIFI 🌟</h1>
        <p class="subtitle">Sağlık Meslek Lisesi - 2025</p>
    </header>

    <main class="grid">
        <a href="{% url 'merve' %}" class="card" style="--card-color:#7dd3fc;">
            <img src="{% static 'images/merve.jpg' %}" alt="Merve">
            <h2>Merve</h2>
            <p>Uykucu</p>
        </a>

        <a href="{% url 'sevval' %}" class="card" style="--card-color:#ffb6c1;">
            <img src="{% static 'images/sevval.jpg' %}" alt="Berkay">
            <h2>Şevval</h2>
            <p>Mutant Avcısı</p>
        </a>

{% comment %} {% url 'nisa-tofas' %} {% endcomment %}
    
        <a href="" class="card" style="--card-color:#960018;">
            <img src="{% static 'images/nisa-tofas.png' %}" alt="Elif">
            <h2>Nisa</h2>
            <p>Basık Tofaş</p>
        </a>

{% comment %} {% url 'beyza' %} {% endcomment %}

        <a href="{% url 'beyza' %}" class="card" style="--card-color:#fde68a;">
            <img src="{% static 'images/beyza.png' %}" alt="beyza">
            <h2>Beyza</h2>
            <p>Şevvalin Kocası</p>
        </a>
    </main>
    <footer>
        <p>© 2025 10B Sınıfı | Sağlık Meslek Lisesi</p>
    </footer>
</body>
</html>
