{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🎯 ŞEVVAL - Mutant Avcısı 🎯</title>
    <link rel="stylesheet" href="{% static "css/sevval.css" %}">
    <link rel="shortcut icon" href="{% static 'images/sevval.jpg' %}" type="image/jpg">
</head>

<body>
    <header class="header">
        <h1 class="title">👽 ŞEVVAL 👽</h1>
        <div class="subtitle">Mutant Avcısı</div>
    </header>

    <main class="container">
        <section class="hero-section">
            <img src="{% static 'images/sevval.jpg' %}" alt="Şevval" class="profile-img">
            <h2>Mutant Erkek Avcısı</h2>
            <p class="warning-text">Allahsız görüsem top atarım</p>
        </section>
        <section class="features">
            <div class="feature-box">
                <h3>Yarım Başkan</h3>
                <p>Yarım başkan gibidir bedo yoksa tam başkan</p>
            </div>
            <div class="feature-box">
                <h3>Allahsız Bitirici</h3>
                <p>Allahsızı 100 metreden tanır 5 metreye kadar topla vurur.</p>
            </div>
            <div class="feature-box">
                <h3>Mutant Avcısı</h3>
                <p>Mutant Erkek Göstermeyin.</p>
            </div>
        </section>
        <section class="elephant-facts">
            <h2>ŞEVVAL’İN GÜÇLÜ ÖZELLİKLERİ</h2>
            <ul>
                <li class="heavy-text">Mutant erkek kokusunu 10KM öteden alır</li>
                <li class="heavy-text">Allahsız mı gördü kafadan vurur voleybol topunu</li>
                <li class="heavy-text">Erkek dediğin böyle olacak ultisini kullanır</li>
                <li class="heavy-text">Erkek yoksa beyzayı erkek yapar</li>
                <li class="heavy-text">Yarım başkan yetkisi ile tam başkan gibi takılır</li>
                <li class="heavy-text">Mutantı fotosentez yapacak ve uçabilecek</li>
            </ul>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-icon">🎯</div>
        <p>© 2025 10B Sınıfı | Sağlık Meslek Lisesi</p>
    </footer>
</body>
</html>
